<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen Sharing App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Hacker Screen Sharing</h1>
        <div>
            <button id="shareScreen" class="button">Share Your Screen</button>
            <button id="viewScreen" class="button">View Screen</button>
        </div>
        <video id="screenVideo" autoplay playsinline></video>
    </div>

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>
